/* .red{
    color: red;
}

/* .blue {
    color: blue;
}

.box {
    border: 1px solid black;
  background-color: pink;  
} */ 

/* .box {
    height: 100px;
    width: 100px;
    background-color: pink;
    border:1px solid black;
} */



